/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

body {
	background-color: #DDCEAF;
	color: #3f3f3f;
	font-family: 'Open Sans', sans-serif;
}

#page, .region-bottom {
	max-width: 100%;
}
	
article a {
	color: #FD9500;
	font-weight: bold;
	
	&:hover {
	  text-decoration: underline;
	}
}

.float-right {
	float: right;
	padding: 20px 0 20px 40px;
}

.float-left {
	float: left;
	padding: 20px 40px 20px 0;
}


.btn {
  background: #FD9500; 
  color: #FFF;
  display: inline-block;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  line-height: 2.5em;
  padding: 0 3em;
  text-decoration: none; 
  font-weight: bold;
  &:hover {
	  background: #404040
  }
}

.small.btn {
  line-height: 1.75em;
  padding: 0 1.5em; 
}

.large.btn {
  line-height: 3em;
  padding: 0 3.5em; 
}
/*

#main-menu.fixed{
  position: fixed;
  top: 0;
  right: auto;
  height: 150px;
  background: #DDCEAF;
  z-index: 200;
}
*/

#header {
	height: 120px;
	background: white;
	z-index: 100;
	
  img {
	  width: 400px;
  }
  #header-content {
	  position: fixed;
	  width: 100%;
	  top: 0;
	  z-index: 100;
	  height: 120px;
	  background: white;
	  visibility: visible;
	  border-bottom: 8px solid #c67e1b;
  }
  .header__logo {
	  width: 40%;
  }
  
  nav[role="navigation"] {
	  /* width: 960px; */
	  margin: 0 20px 0 auto;
  }

  nav ul {
	  float: right;
    width: auto;
    /* height: 144px; */
    margin-top: 10px;
    
    li {
      display: block;
      position: relative;
      float: left;
	    font-weight: bold;
	    font-size: 1.1em;
	    /* text-transform: uppercase; */
	    a {
	      color: #000;
	      text-decoration: none;
	      &:hover,
	      &.active {
		      border-bottom: 5px solid #FD9500;
	      }
	    }
    }
  }
  
  #main-menu:focus {
	outline: 0;
  }

	/* messing with the mobile menu */
	#main-menu h2:after {
	  content: 'menu icon';
	  font-size: 10px;
	  padding-left: 10px;
	}
} 


.page-single-page-site {

	#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
	    padding-left: 0;
	    padding-right: 0;
	}

  #page-title {
	  display: none;
  }
  #main {
	  padding-top: 1em;
  }


	#single-page-overall-wrapper {
		 /* margin-top: -160px;  */
		 
		.single-page-wrapper {
		  padding: 124px 50px 0 50px;
		  height: auto !important;
		  position: relative;
		  
		  &:first-of-type {
			 /*  padding-top: 54px; */
		  }		  
		  &:last-of-type {
			  min-height: 750px;
		  }
	  }
	  .single-page {
		  padding-bottom: 30px;
	  }

	  .to-next-page {
	    font-size: 0;
	    text-align: center;
	    display: block;
	    
	    a {
	      text-decoration: none;
	    }
	  
	    &:after {
	      font-family: "ElegantIcon";
	      content: '\33';
	      font-size: 128px;
	      color: #000;
	      text-decoration: none;
	      border-bottom: none;
	    }
	    &:hover:after {
		    color: #FD9500;
		    font-family: "ElegantIcon";
	      content: '\33';
	      font-size: 128px;
	      text-decoration: none;
	      border-bottom: none;
	    }
	  }
	  
	  article,
	  form  {
			  min-height: 420px;
	  }
		 
		#home {
		  text-align: center;
		  /* width: 500px; */
/* 		  margin: -124px auto 0 auto; */
		  margin: 0 auto 0 auto;
		  border-bottom: #FF9400 solid 5px;
		  .single-page-title {
			  display: none;
		  }
		   
		  h2 {
		    font-family: 'Courgette', cursive;
		    font-size: 46px;
		    width: 500px;
		    margin: 0 auto;
		    padding: 70px 0;
		  }
		  .learn-more-button {
			  padding-bottom: 90px;
		  }
		}
	  #our-work {
		  background-color: #ffcc77;
		  border-bottom: #C67E1B solid 5px;
	  }
	  #therapists {
		  background-color: #eedd99;
		  border-bottom: #FF9400 solid 5px;
	  }
	  #find-us {
	    background-color: #ffddaa;
	    border-bottom: #C67E1B solid 5px; 
	  }
	}
}

#quotes {
  width: 90%;
  margin: 0 auto 20px auto;
	.quote {
		float: left;
		width: 45%;
		padding-bottom: 40px;
		&:first-child {
			margin-right: 5em;
		}
	}
}

.google_map_field_display {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	width: 70%;
	margin: 0px auto 50px auto;
}

.google_map_field_display .gm-style,
.google_map_field_display iframe,
.google_map_field_display object,
.google_map_field_display embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.google-map-field-label {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}

.item {
	margin: 20px 0;
}

#contact-us-node-form {
	textarea,
	.grippie {
		max-width: 585px;
	}	
}

.contact-info {
  text-align: center;
  h3 {
	  margin-bottom: 2px;
  }
  p {
	  margin: 4px auto;
  }
}

@media screen and (max-width: 480px) {
  #header {
    #header-content {
	    /* position: static; */
	    height: 113px;
    }
    .header__logo {
	    width: 50%;
    }
    img {
	    width: 200px;
	    height: auto;
    }
    nav[role="navigation"] {
      /* position: relative; */
      ul {
       /*  float: none; */
        display: block;
        margin-right: 5px;
        margin-top: 3px;
        width: 100px;
        padding: 0 0 0 5px;
        line-height: 20px;
        height: 108px;
        > li {
         width: 100%;
         font-size: 80%;
         /* margin-bottom: 1px; */
         a {
					 &:hover,
					 &.active {
						 border-bottom: 3px solid #FD9500;
					 }
				 }
        }
      }
    }
  }  

  body.page-single-page-site {
    #single-page-overall-wrapper {
      .single-page-wrapper {
        padding: 109px 8px 0 8px;
        
      &:last-of-type {
	      padding-bottom: 210px;
      }
      }
      h2 {
	      margin-top: 0;
      }
      #home {
	      /* width: auto; */
	      margin-top: 0;
	      h2 {
		      font-size: 30px;
		      margin-top: 0px;
		      width: 300px;
	      }
	      .learn-more-button {
			  	padding-bottom: 20px;
				}
	    }
	  }
	  .google_map_field_display {
		  width: 90%;
		  margin: 0px auto 0 auto;
	  }
	  .google-map-field-label {
			font-size: 14px;
			padding-bottom: 5px;
	  }
  }
  
  .float-right {
	  float: none;
	  text-align: center;
	  padding: 10px 0;
  }
  .float-left {
	  float:none;
	  text-align: center;
	  padding: 10px 0;
  }
  #quotes {
    padding-bottom: 20px;
    .quote { 
      float: none;
		  width: 100%;
		  padding-bottom: 5px;
		  p {
			  margin: 1em 0;
		  }
		}
  }
  img {
	  max-width: 90%;
  }
  #contact-us-node-form {
	textarea,
	.grippie {
		max-width: 400px;
	}	
}
}

@media screen and (min-width: 481px) and (max-width: 859px) {
  #header {
    #header-content {
	    height: 145px;
    }
    .header__logo {
	    width: 100%;
    }
    img {
	    width: 350px;
	    height: auto;
    }
    nav[role="navigation"] {
      position: relative;
      ul {
        float: none;
        display: block;
        padding: 15px 0 0 50px;
        
        li {
	        margin-bottom: 8px;
	        font-size: 90%;
	        
        }
      }
    }
  }
  body.page-single-page-site {
    #single-page-overall-wrapper {
      .single-page-wrapper {
        padding: 144px 8px 0 8px;
      }
	  }
	}

  #quotes .quote {
	  width: 100%;
	  padding-bottom: 5px;
  }
}


